<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b7d94078-58a8-47e2-a8d7-b2c922e924c0" >
		<http:listener-connection host="${http.private.host}" port="${http.private.port}" />
	</http:listener-config>
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="64d0229e-2bf8-4966-a92b-3ad1711c1064" name="Router" api="template.raml" />
	<api-gateway:autodiscovery apiId="${api.version.autodiscovery}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="2836bc19-7778-4c90-96f8-10f0b43fd018" flowRef="xerox-nameofapi-apiFlow" />
	<configuration-properties doc:name="Configuration properties" doc:id="4df7717f-8eaf-4017-9fe6-8e67dd6d91a5" file="mule${mule.env}.properties" />
	<configuration doc:name="Configuration" doc:id="66c75a5b-1c97-4aa3-bd74-a527948b8c5d" defaultErrorHandler-ref="errorError_Handler" />
</mule>
