<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a549c18b-4a63-4796-a24c-4c79c2d729a5" >
		<http:listener-connection host="${http.host}" port="${http.port}" readTimeout="${http.timeout}" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="99a545b0-0c09-4eed-89d1-21af9d18e216" >
		<jms:active-mq-connection username="${mq.username}" password="${secure::mq.password}" />
	</jms:config>
	<configuration-properties doc:name="Configuration properties" doc:id="872b22f2-d5ad-41a1-9af6-cb1a87a3357e" file="mule${mule.env}.properties" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="26b878f3-e00f-458e-908b-df07174a29ed" file="secure${mule.env}.properties" key="${vault.key}"/>
	<global-property doc:name="Global Property" doc:id="413f0da5-b116-4a8d-8495-4957f5cc9d40" name="vault.key" value="1234567890123456" />
	<global-property doc:name="Global Property" doc:id="8c1c2f15-c38d-4afe-890d-e48dbce595c6" name="mule.env" value="dev" />
</mule>
